main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
  // min-height: calc(var(--vh, 1vh) * 100);
  padding: 4rem 0;
}

// Conteneur de la galerie en mode masonry
section.galerie-section {
  max-width: calc(100vw - 125px);
  margin: auto;
  & ul.galerie-grid {
    padding: 0;
    column-count: 1;
    column-gap: 10px;
    & li.galerie-item {
      margin-bottom: 10px;
      break-inside: avoid; // facultatif pour images, utile pour texte sous column-count

      & img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  section.galerie-section {
    width: 90%;
    ul.galerie-grid {
      column-count: 2;
    }
  }
}

@media only screen and (min-width: 768px) {
  ul.galerie-grid {
    column-count: 3;
  }
}

@media only screen and (min-width: 1024px) {
  section.galerie-section {
    width: 90%;
    ul.galerie-grid {
      column-count: 4;
    }
  }
}

// Lightbox
#lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.747);
}

#lightbox-img {
  max-height: 100vh;
  transition: transform 0.3s ease-in-out; // Animation douce pour le zoom
}

#lightbox-img.zoomed {
  transform: scale(1.5); // Applique un zoom à 150%
  cursor: zoom-out; // Modifie le curseur pour montrer que l'on peut dézoomer
}

#lightbox .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: cell;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: cell;
}
/* Ajustements responsive */
@media (max-width: 768px) {
  #lightbox-img {
    width: 90%;
  }
}
